body {
    margin: 2% 5%;
    background: url("../../assets/images/train5.jpg");
  }
  
  .jumbotron {
    text-align: center;
    color: snow;
    background-color: rgba(255, 0, 0, 0.4); 
  }
  
  h1 {
    text-shadow: 0 0 20px #000000;
    font-family: 'Great Vibes', cursive;
    font-size : 60px; 
  }
  
  #hoho {
      font-family: 'Amatic SC', cursive;
      font-size: 20px; 
      text-shadow: 0 0 20px #000000;
  }
  
  #time {
      font-family: 'Amatic SC', cursive;
      font-size: 50px; 
  }
  
  td {
    font-family: 'Amatic SC', cursive;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-top: 0;
    color: black; 
    font-size: 20px; 
  }
  
  th {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-right: 2px solid #000000 !important;
    font-size: 25px; 
  }
  
  th:last-child,
  td:last-child {
    border-right: none !important;
  }
  
  .panel,
  .jumbotron {
    border: 3px solid #771212 !important;
    border-radius: 10px;
  }
  
  td {
    text-align: center;
  }
  .panel-primary > .panel-heading {
    color: #fff;
    background-color: #7a1515;
    border-color: #a71616ce;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #7a1515;
    border-color: #771212;
    font-family: 'Amatic SC', cursive;
    font-size: 20px; 
  }
  
  #TS {
      font-family: 'Great Vibes', cursive;
      font-size: 30px; 
      text-align: center; 
  }
  
  label {
      font-family: 'Amatic SC', cursive;
      font-size: 25px; 
  }
  
  #frequencyInput, #firstTrainTimeInput, #destinationInput, #trainNameInput {
      font-family: 'Amatic SC', cursive;
      font-size: 20px; 
  }
  
  #align {
      text-align: center; 
  }
  
  button, input, select, textarea {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      color: white;
      background: darkred; 
      border-color: darkred; 
  }